.page-manage-chapter-show
  .pblock.modelinfo
    -#= render_cell :course, :chapter_baseinfo, :chapter => @chapter
    .baseinfo
      .btns
        -#%a.btn.inverse.edit{:href => 'javascript:;', :data => {:url =>"/manage/chapters/#{@chapter.id}/edit"}}
        %a.btn.inverse.edit{href: (edit_chapter_path(@chapter))}
          %i.icon-edit
          %span 修改章节信息

        -#%a.btn.gray{:href => "/courses/#{@chapter.course.id}?preview=true"}
        %a.btn.gray{:href => "javascript:;"}
          %i.icon-eye-open
          %span 预览课程

      .infodata
        %h2= @chapter.title
        .desc
          - desc = @chapter.desc.blank? ? '章节目前没有简介' : @chapter.desc
          = simple_format("章节简介：#{desc}")

  .js-dyn-table{:class => @course_wares.blank? ? 'blank' : ''}
    -#.pblock.table
      -#.new-line
        -#.op
          -#.desc.counter
            -#%span 章节下现有
            -#%b.count= @course_wares.count
            -#%span 个课件

          -#%a.btn.success.new{:href => 'javascript:;', :data => {:url => "/manage/chapters/#{@chapter.id}/course_wares/new"}}
            -#%i.icon-plus.icon-white
            -#%span 上传课件
            
      -#.tbl
        -#= render_cell :course_ware, :manage_table, :course_wares => @course_wares

    .blankslate
      %h3
        %span 章节
        %span= @chapter.title
        %span 下还没有任何课件

      .desc 
        点击上方的上传课件按钮来增加课件

